<ion-header >
  <ion-toolbar color="dark">
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content> -->
    <!-- <ion-card class="welcome-card">
      <ion-img src="/assets/bilwara.jpg"></ion-img>
      <ion-card-header>
        
        <ion-card-title>Welcome to Bilwara</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Bhilwara Infotechnology Limited (BIL) is a dedicated technology consulting and implementation company and is a part of the LNJ Bhilwara Group, one of the largest employers in India.

          Our team of highly skilled, experienced and motivated professionals are committed towards harnessing technology for providing the best solutions to our customers. Our corporate goal is to provide the best products and services to our customers and build strong and long-term relationship with them.</p></ion-card-content>
    </ion-card> -->
    
    <ion-card>
        <ion-card-header>
          <ion-img src="/assets/bilwara.jpg"></ion-img>
          <ion-card-subtitle>Bhilwara</ion-card-subtitle>
          <ion-card-title>Project1</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>
      
      <ion-card>
        <ion-item>
          <ion-icon name="pin" slot="start"></ion-icon>
          <ion-label>Project2</ion-label>
          <ion-img src="/assets/bilwara.jpg"></ion-img>
          <ion-button fill="outline" slot="end">View</ion-button>
        </ion-item>
      
        <ion-card-content>
          This is content, without any paragraph or header tags,
          within an ion-card-content element.
        </ion-card-content>
      </ion-card>
      
      <ion-card>
        <ion-item href="#" class="activated">
          <ion-icon name="wifi" slot="start"></ion-icon>
          <ion-label>Project3</ion-label>
        </ion-item>
      
        <ion-item href="#">
          <ion-icon name="wine" slot="start"></ion-icon>
          <ion-label>bhilwara projects</ion-label>
        </ion-item>
      
        <ion-item class="activated">
          <ion-icon name="warning" slot="start"></ion-icon>
          <ion-label>click here for info</ion-label>
        </ion-item>
      
        <ion-item>
          <ion-icon name="walk" slot="start"></ion-icon>
          <ion-label>Card Button Item 2</ion-label>
        </ion-item>
      </ion-card>

<!-- </ion-content> -->
