<ion-header>
  <ion-toolbar>
    <ion-title>
     Bilwara Support
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3 style="text-align:center">Contact Us</h3>

  <ion-card>
      <ion-card-header>
      <ion-img src="/assets/tom.jpg"></ion-img>
        <ion-card-title>Akshay A J</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        UI developer getting trained for developing Android applications using Ionic, Angular, ReactNative.
      </ion-card-content>
      <ion-card-content>Phone: 8861747109</ion-card-content>
    </ion-card>


  
    
</ion-content>


